@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#menu{
  text-decoration: none;
  color: rgb(156, 200, 252);
}
.brandImage{
  width: 3rem;
}
.navContainer{
  background-color: rgb(13, 10, 24);
}
.toggler{
  background-color: rgb(156, 200, 252) !important;
  color: white !important
}
.footContainer{
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
	align-items: center;
  background-color: rgb(13, 10, 24);
}
.active{
  color: white !important;
}
.footContainer{
  margin-top: auto;
}
p{
  margin: 0rem !important;
  color: rgb(156, 200, 252);
}
.bodyContainer{
	font-family: 'Orbitron', sans-serif;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
  font-size: 5rem !important;
  margin-bottom: 2.5rem !important;
}
h2{
	font-size: 3rem !important;
}
h3{
  margin-top: 0 !important;
  font-size: 2rem !important;
}
.alignItem{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form, .image{
  width: 100%;
}
button{
  width: 8rem !important;
}
.failure{
  border-color: red !important;
}
.failure:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 73, 73, 0.867) !important
}
.success:focus{
  box-shadow: 0 0 0 0.2rem rgb(83, 255, 117) !important
}
.alert{
  display: flex;
  justify-content: space-around;
}
.alert button{
  width: 1rem !important;
  margin-left: 1rem;
}
.alert p{
  color: black;
}
.loginImage{
  width: 35rem;
}
.profilePic{
  width: 10rem !important;
}
.picContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info{
  padding-left: 2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info #menu{
  color: black;
}
.navBar{
  background-color: rgb(229, 229, 229);
  padding-left: 1rem !important;
}
.subOutlet{
  padding: 1rem 3rem 0rem 3rem !important;
}
.profileContainer, .timelineContainer{
  height: 15rem;
  display: flex;
  justify-content: space-between;
}
.title, .profileInfo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title p{
  color: black;
}
.navBar .active{
  color: orange !important;
}
.contactInfo{
  display: flex;
  justify-content: space-between;
}
.contactInfo .info{
  margin: 0.5rem;
  padding: 0.5rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info p{
  color: black;
  font-size: 1.1rem;
}
.details{
  font-size: 0.8rem !important;
  color: grey !important;
}
.icon{
  width: 20%;
  display: flex;
  justify-content: center;
}
.information{
  width: 70%;
}
.contactForm{
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
.input1, .input2{
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.input1 input{
  width: 30%;
}
.contactForm{
  width: 60%;
}
.contactFormContainer{
  display: flex;
  justify-content: center;
}
textarea{
  resize: none !important;
}

@media (max-width: 768px) {
  .loginImage{
    width: 22rem;
  }
  .alignItem{
    padding: 1rem;
  }
  .info{
    padding-left: 12px !important;
  }
  .picContainer{
    padding: 1rem;
  }
  .nameWork{
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  .navigation{
    padding: 0.5rem 0rem 1rem 0rem;
  }
  .subOutlet{
    padding: 1rem !important;
  }
  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
  }
  .input1 input{
    width: 100%;
    margin-bottom: 1rem;
  }
  .input1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactForm{
    width: 100%;
  }
  .contactFormContainer{
    margin-bottom: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  .input1{
    padding-bottom: 0rem;
  }
}